body {
  overflow-x: hidden;
}

nav {
  display: flex;
  position: sticky;
  top: 0;
  z-index: 999;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0px;
  background: #dae6eed2;
  height: 80px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.18);
}

a {
  text-decoration: none;
  color: black;
}

main {
  padding: 0px;
}

footer {
  text-align: center;
  padding: 20px;
  background: #e9eef1;
  position: relative;
}

#nav-logo-wrapper {
  flex: 2;
  text-align: center;
  margin-left: 10px;
}

#nav-links {
  display: flex;
  flex: 4;
}

#nav-logo {
  height: 60px;
  top: 8px;
}

#nav-links ul {
  width: 100%;
  display: flex;
  align-self: flex-end;
  justify-content: space-evenly;
  padding: 10px;
}

#nav-links li {
  list-style: none;
  display: inline;
}

#nav-links li a,
#nav-links li p {
  font-size: 21px;
  color: #3d3d3d;
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.7s cubic-bezier(0.25, 0.8, 0.25, 1);
  cursor: pointer;
}

#nav-links li a:hover,
#nav-links li p:hover {
  text-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

#nav-links li.navbar-menu-btn,
#nav-links #open-button-wrapper {
  display: none;
}

#intro {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: center / cover no-repeat url("./../assets/background-intro.jpg");
}

#intro header {
  text-align: center;
  margin-top: -180px;
}

#bg-slider {
  width: 100vw;
  background: url("./../assets/background-slider.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  top: 120px;
  right: 0;
  position: fixed;
  overflow: hidden;
  box-sizing: border-box;
  padding: 0px;
  margin: 0 auto;
}

#transparent-slide {
  background: transparent;
  height: 80vh;
}

#transparent-slide img {
  background: rgba(255, 255, 255, 0.5);
}

#editorial {
  background: right / cover no-repeat url("./../assets/background1.jpg");
}

#ecommerce {
  background: top left / cover no-repeat
    url("./../assets/background-ecommerce.jpg");
}

#perdue {
  background: right / cover no-repeat url("./../assets/background3.jpg");
}

#contact-section {
  width: 100vw;
  height: 20vh;
  text-align: center;
  background: white;
}

#resume-section {
  width: 100vw;
  height: 20vh;
  text-align: center;
  background: white;
}

#contact-section button,
#resume-section button {
  font-size: 24px;
  padding: 20px 60px;
  border: 1px solid black;
  border-radius: 5px;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  letter-spacing: 3px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.7s cubic-bezier(0.25, 0.8, 0.25, 1);
}

#contact-section button:hover,
#resume-section button:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  background: #e9eef1;
}

#inline-img {
  display: inline;
  width: 20px;
  top: 6px;
  position: relative;
}

#bio {
  width: 100vw;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background: #fdfdfd;
}

#resume-content-wrapper {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

#resume-text-wrapper,
#resume-image-wrapper {
  min-width: 320px;
  padding: 32px;
  box-sizing: border-box;
}

#resume-text-wrapper {
  flex: 4;
}

#resume-image-wrapper {
  flex: 2;
  text-align: center;
}

#resume-image-wrapper img {
  width: 100%;
  height: auto;
  max-width: 500px;
}

section#social-media {
  text-align: center;
  margin-bottom: 60px;
}

section a {
  text-align: center;
  margin-left: 20px;
  margin-right: 20px;
}

.container {
  width: 100vw;
  height: 105vh;
  display: flex;
  position: relative;
  justify-content: space-evenly;
  align-items: center;
  padding: 10px 20px;
  box-sizing: border-box;
}

.header-center-lg {
  font-size: 60px;
  font-family: "Open Sans", sans-serif;
  margin-bottom: 24px;
  letter-spacing: 7px;
  text-align: center;
}

.header-center-md {
  font-size: 40px;
  font-family: "Open Sans", sans-serif;
  margin-bottom: 24px;
  letter-spacing: 7px;
  text-align: center;
}

.header-center-sm {
  font-size: 21px;
  font-family: "Old Standard TT", serif;
  margin-top: 10px;
  letter-spacing: 3px;
}

.gray1 {
  color: #3d3d3d;
}

.gray2 {
  color: #454545;
}

.gray3 {
  color: #363636;
}

.cursive {
  font-size: 30px;
  font-family: "Josefin Sans", sans-serif;
}

.project-headline {
  font-size: 36px;
  letter-spacing: 5px;
  /* color: #3d3d3d; */
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.7s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.project-headline:hover {
  text-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.extra-bold {
  font-weight: 800;
}

.bold {
  font-weight: 700;
}

.semi-bold {
  font-weight: 600;
}

.text-banner {
  display: flex;
  font-size: 48px;
  justify-content: center;
  align-items: center;
  height: 100px;
  /* background: #e9eef1; */
  background: rgba(255, 255, 255, 0.8);
  box-shadow: 0px 1px 1px black;
  margin: 0;
  position: relative;
}
/* PREVIOUS STYLE for .project-content-box */
/* .project-content-box {
  text-align: center;
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
} */

.project-content-box {
  padding: 32px 0px;
  box-sizing: border-box;
  flex: 1;
  height: 100%;
}

/* #resume-text-wrapper {
  flex: 4;
}

#resume-image-wrapper {
  flex: 2;
  text-align: center;
} */

#header-wrapper {
  width: 100%;
  padding: 40px 20px;
  box-sizing: border-box;
}

.bio-description {
  margin-top: 20px;
  text-align: justify;
  font-size: 18px;
  font-family: "Josefin Sans", sans-serif;
  color: #3f3f3f;
  background: #fdfdfd;

  letter-spacing: 0.1px;
  line-height: 26px;
  word-wrap: break-word;
}

#tu-estilo-headline-wrapper h2 {
  margin-top: 40px;
}

#frame-art-headline-wrapper {
  display: flex;
  flex-direction: column;
}

#frame-art-headline-wrapper h2 {
  margin-top: 0px;
  position: relative;
}

img#mockup-editorial-img {
  position: relative;
  margin-top: 40px;
}

img#mockup-ecommerce-img {
  width: 510px;
  position: relative;
  top: 50px;
}

img#mockup-perdue-img {
  width: 450px;
  position: relative;
  top: 50px;
}

@media (max-width: 375px) {
  #intro {
    height: 100vh;
    display: flex;
    padding-top: 160px;
  }

  nav {
    height: auto;
    padding-bottom: 0px;
    position: fixed;
    width: 100%;
  }
  #nav-logo-wrapper {
    width: 320px;
    box-sizing: border-box;
    margin: 0;
  }

  #nav-links {
    justify-content: center;
  }
  #nav-links ul {
    width: 100%;
    text-align: center;
    box-sizing: border-box;
    margin: 0;
    flex-direction: column;
    padding-bottom: 20px;
  }

  #nav-links ul li {
    width: 100%;
    margin-top: 16px;
    margin-bottom: 8px;
    display: block;
  }

  #nav-links li.navbar-menu-btn,
  #nav-links #open-button-wrapper {
    display: block;
    padding: 0px;
  }

  #open-button-wrapper {
    padding: 0px;
  }

  #nav-links #nav-menu {
    display: none;
  }

  #header-wrapper h1 {
    font-size: 40px;
  }

  #bg-slider {
    top: 130px;
  }

  #transparent-slide img {
    height: 120px;
  }

  #resume-text-wrapper {
    padding-top: 130px;
    padding-bottom: 0px;
  }

  p.bio-description {
    font-size: 16px;
  }

  .container {
    flex-direction: column;
    height: 600px;
  }

  .project-content-box {
    width: 100%;
    padding: 32px 0px;
    box-sizing: border-box;
    flex: 1;
  }

  img#mockup-editorial-img {
    width: 80vw;
  }

  img#mockup-ecommerce-img {
    width: 85vw;
    position: relative;
  }

  img#mockup-perdue-img {
    width: 80vw;
    left: 0;
  }

  #bg-slider {
    top: 245px;
  }
  .header-center-lg {
    font-size: 30px;
  }

  .header-center-md {
    font-size: 40px;
  }

  .header-center-sm {
    font-size: 16px;
    text-align: center;
  }

  .empty-half {
    display: none;
  }

  button#intouch-btn {
    font-size: 18px;
    padding: 20px 30px;
  }
}

@media (max-width: 986px) {
  body {
    overflow-x: hidden;
  }

  .project-content-box {
    text-align: center;
    height: auto;
  }

  .header-center-lg {
    font-size: 30px;
  }

  .header-center-md {
    font-size: 40px;
  }

  .header-center-sm {
    font-size: 16px;
    text-align: center;
  }

  img#mockup-editorial-img {
    width: 80vw;
    max-height: 600px;
    margin-top: 60px;
  }

  img#mockup-ecommerce-img {
    width: 85vw;
    max-height: 700px;
    position: relative;
    margin-top: 10px;
  }

  img#mockup-perdue-img {
    width: 80vw;
    max-height: 700px;
    margin-top: 10px;
  }
}

@media (min-width: 1400px) {
  .project-content-box {
    padding: 80px 0px 0px 0px;
  }

  .project-content-box .project-headline {
    font-size: 54px;
    margin-bottom: 40px;
  }

  h1.text-banner {
    font-size: 68px;
  }

  #contact-section {
    height: 24vh;
  }

  #contact-section button {
    font-size: 32px;
    padding: 32px 88px;
  }
}
